@font-face {
  font-family: "primary";
  src: url("BebasNeue-Regular.tff") format("truetype");
}

body {
  padding: 0;
  font-family: "primary", sans-serif;
  font-weight: 600;
}

header {
  padding: 0;
  width: 100vw;
  background-color: #00563b;
}

a {
  color: white;
}

#tennis_app-icon {
  width: 100px;
  height: auto;
}

#tennis_app-title {
  height: 100px;
  width: auto;
}

@media (max-width: 375px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header div {
    align-items: center;
  }
}
