@font-face {
  font-family: "primary";
  src: url("BebasNeue-Regular.tff") format("truetype");
}

body {
  font-family: "primary", sans-serif;
  font-weight: 600;
}

header {
  background-color: #00563b;
}

a {
  color: white;
  font-size: 1.35rem;
}

a:hover {
  text-decoration: none;
  color: white;
}

#tennis_app-icon {
  width: 100px;
  height: auto;
}

#tennis_app-title {
  height: 100px;
  width: auto;
}

@media (max-width: 2560px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header div {
    justify-content: center;
    align-items: center;
  }

  #dl-btn {
    padding-right: 2em;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header div {
    justify-content: center;
    align-items: center;
  }

  #dl-btn {
    padding-right: 2em;
  }
}

@media (max-width: 425px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: none;
  }
}
