*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.body {
  height: 100vh;
  width: 100vw;
  font-family: "Bebas Neue", sans-serif;
}

.header {
  background-color: #00563b;
  height: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.logo__icon {
  height: 10rem;
  width: 10rem;
}
.logo__title {
  height: 15rem;
  width: 15rem;
  object-fit: contain;
}

.dl-btn {
  font-size: 2.25rem;
  font-family: "Bebas Neue";
}
