*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  height: 100%;
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #00563b;
  height: 11rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.logo__icon {
  height: 10rem;
  width: 10rem;
}
.logo__title {
  height: 15rem;
  width: 15rem;
  object-fit: contain;
}

.dl-btn {
  font-size: 3.25rem;
  font-weight: 100;
  opacity: 0.85;
  transition: all 0.8s;
  margin: 0 30px;
}
.dl-btn:hover, .dl-btn:focus {
  opacity: 1;
}

.container {
  height: 80rem;
}
.container--1 {
  background-color: #006747;
}
.container--2 {
  background-color: #f5f5f7;
}
.container--3 {
  background-color: #006747;
}
.container--4 {
  background-color: #f5f5f7;
}
.container--5 {
  background-color: #006747;
}
